<div class="container-big-card">
  <picture class="big-card-photo">
    <img src="https://p2.trrsf.com/image/fget/cf/1200/675/middle/images.terra.com/2023/09/05/1178646335-450fda4024bfd5c195168d1ac8622084.jpg" alt="Poster de Piratas do Caribe">
  </picture>
  <div class="big-card-title">
    <h1>
      <a href="">Piratas do Caribe 6' terá o Jack Sparrow de Johnny Deep?</a>
    </h1>

  </div>
  <div class="big-card-description">
    <p><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, amet facere tempora reiciendis culpa
      dignissimos!</a></p>
  </div>
</div>
